.container {
  width: 300px;
  height: 420px;
  background: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 20px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}